.page-wrapper {
  max-width: 400px;
  margin: 2rem auto;
  background: whitesmoke;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-nav {
  display: flex;
  justify-content: space-between; /* Pushes the logo to the left, and the nav to the right */
  align-items: center;            /* Vertically centers items within the header */
  padding: 10px;
  font-size: 1.5rem;
}

input[type="text"] {
  width: 95%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.chefbook-logo {
  width: 9rem;
  margin: 0 auto 0.5rem;
}

.chefbook-layout {
  display: flex;
  gap: 2rem;
  height: calc(100vh - 140px);
}

.pantry-panel {
  flex: 1;
  float: left;
  width: 30%;
  min-width: 280px;
  border-right: 1px solid #ddd;
  padding-right: 1rem;
}

.recipes-panel {
  float: right;
  width: 65%;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10rem;
}

.recipe-card {
  background: white;
  width: 350px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.recipe-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.empty-recipes {
  color: #777;
  margin-top: 2rem;
}

.ingredientList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin: 1px;
}

ul {
  margin: 1px;
  padding: 0;
  list-style: none;
  background: white;
}

li {
  padding: 20px;
  border-top: 1px solid #ccc;
  scroll-snap-align: start;
  font-size: 1rem;
}

.deleteButton {
  color: red;
  border: none;
  background: none;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.suggestButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 3rem;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 30%;
  overflow: visible;
  padding: 3% 15%;
  position: relative;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15rem;
  will-change: transform, opacity;
}
